
body img {
    
 width: 100%;
}












@media only screen and (min-width: 320px) {
    
#mobile {
    
display: block;
}
    
    #ipad {
    
display: none;
}
    
#desktop {
    
display: none;
}


    
}

            
            
            
@media only screen and (min-width: 768px) {
   
#ipad {
    
display: block;
}

    
#mobile {
    
display: none;
}
    
#desktop {
    
display: none;
}

}

                    
                    
                    
                    
@media only screen and (min-width: 1020px) {
  #desktop {
    
display: block;
}
    
#mobile {
    
display: none;
}
    
    
    #ipad {
    
display: none;
}

      
}
