body{
background-image: url("../images/natur-baggrund.png");   
}

.hovedindhold {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

#valg {
    background-color: #fefefe;
    border: 1px solid lightgray;
    margin: 0 auto;
    padding: 20px;

}

h1{
 text-align: center;
    margin: 10 10 10 10;
    font-family: 'Ubuntu regular', sans-serif;
    font-size: 25px;
    line-height: 1.5;

}


p {

font-family: 'Open Sans';
line-height: 2.0;
font-size: 16px;
}

.dineoplysninger {
    text-align: center;
    margin: 0 auto;
    background-color: #fefefe;
    padding: 20px
        
}

.formular {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    border: 1px solid lightgray;
    display: block;
    text-align: right;
    margin: 10px 5px 0 0;
    padding: 10px;
}


label:nth-child(2n) {
    background-color: rgba(244, 204, 96, 0.26);
}

.checkboks {
    margin-left: 10px;
}

.flexsektion {
    width: 275px;
    margin: 25px;
}

.videreknap {
    background-color: #ed8633;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    padding: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 15px;
}

.totaldkk {
    display: flex;
    flex-direction: column;
        justify-content: flex-end;

}
