/* body baggrund texture*/

body {
    background-image: url("../images/natur-baggrund.webp");
    background-size: cover;
    background-repeat: no-repeat;
}



/* headerdesktop */



nav {
    width: 100%;
    height: 130px;
    background-color: #8f9472;
}

nav ul {
    padding-top: 30px;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-size: 20px;
    font-family: 'Montserrat';
    color: #fff;
    padding: 24px 14px;
    text-decoration: none;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #8f9472;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 250px;
    border-radius: 4px;
}

nav ul li ul li a:hover {
    background-color: #b6a58b;
}

nav ul li ul li a {
    padding: 12px 20px;
    text-align: center
}

.logo {
    width: 170px;
    position: absolute;
    left: 50%;
}

header {
    display: flex;
    background-color: #8f9472;
    position: relative;
}

.right ul {
    float: right;
    padding-right: 7%;

}

.left ul {
    padding-left: 5%;
}

nav.left {
    display: none;

}

nav.right {
    display: none;
}


img.logo {
    display: none;
}

#bestilknap-desktop {
    border-color: #be7642;
    background-color: #8f9472;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    border-style: double;

}


#bestilknap-desktop a {
    font-size: 20px;
    padding: 1px;


}


#bestilknap-desktop:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

/* headerdesktop slut */





h1 {
    color: white;
    font-family: 'ubuntu regular';
    font-size: 35px;
    text-align: center;
    line-height: 1.5;
}


/* Header navigation */
#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo-container {
    padding: 0.5rem 0 1rem 1rem;

}

.logo-container img {
    width: 30%;
    height: 30%;

}

#clickmenu {
    color: white;
    font-size: 30px;
    text-align: right;
    padding: 0.3em;

}

.ipadflex {
    display: none;
}



/* Burger menu */

.dropbtn img {
    width: 1.5em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(143, 149, 115);
    background-color: rgba(143, 149, 115, 0.9, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 35px;
    color: #f6f5f1;
    display: block;
    transition: 0.3s;
    font-family: 'ubuntu regular';
}


.overlay a:hover,
.overlay a:focus {
    color: #f6f5f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0.1px;
    right: 1px;
    font-size: 50px;
}

#clickmobil {
    color: #f6f5f1;
}


/*Dropdown test i menu - mobil */

.navbar {
    overflow: hidden;
    font-family: 'Montserrat';
}

/* Links inde i navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* dropdown container */
.dropdown {
    align-content: center;
    overflow: hidden;
    font-family: 'Montserrat';
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 30px;
    font-family: 'Montserrat';
    border: none;
    outline: none;
    color: #f7f5f2;
    padding: 14px 16px;
    background-color: inherit;
}

/* baggrund  hover på navbar links */
.navbar a:hover,
.dropdown:hover .dropbtn {}

/* dropdown indhold */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B6A58B;
    width: 100%;
    margin-bottom: 100%;
    z-index: 1;
}

/* Links inde i dropdown menuen */
.dropdown-content a {
    float: none;
    color: #f7f5f2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.5em;
    line-height: 1.5em;
}

.dropdown-content {
    padding-bottom: 100%;
}

/* baggrund til hover effekt til dropdown menu  */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* hvis dropdown menuen med hovereffekt */
.dropdown:hover .dropdown-content {
    display: block;
}

#bestilboks {
    background-color: #be7743;
    border-radius: 10px;
    margin-right: 11em;
    margin-left: 11em;
}






/* 
Footer
*/

/*footer mobile*/

footer {
    overflow: hidden;
    background-color: rgba(247, 245, 242, 0.5);
    /* F7F5F2 med opacity */

}

#footerh4 {
    font-family: 'Montserrat';
    font-size: 1em;
    text-align: left;
    padding: 0.5em;
}

footer #flexikonmobile {
    display: flex;
    width: 100%;
    margin: 0;
}



footer .footer-left {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

footer .footer-left img {
    width: 30px;
    margin-top: 5px;
    padding: 10px;

}


footer .footer-center {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}


footer .footer-center img {
    width: 30px;
    margin-top: 5px;
    padding: 10px;
}



footer .footer-right {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    padding-top: 15px;
    padding-right: 10px;
    text-align: center;
}


footer .footer-right img {
    width: 2em;
    margin-top: 5px;
    padding: 10px;

}


.kontaktinfo {
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: 'Open Sans';
    padding: 2%;
    margin: 0%;
    text-align: left;
}


/*footer desktop*/


footer #flexikondesktop {
    display: none;
    width: 100%;
    margin: 0;
}


footer #flexalt {
    display: flex;
    width: 100%;
    margin: 0;

}

.footer-centerdesktop {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 2%;
    text-align: center;

}

footer .footer-centerdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}

.footer-rightdesktop {
    width: 33.3%;
    padding-left: 2%;
    padding-top: 2%;
    text-align: center;

}


footer .footer-rightdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;
    text-align: right;
    margin-left: 10%;

}


footer #flexkontakt {
    width: 33.3%;
    margin: 0;
    padding-left: 2%;
    padding-top: 2%;
}



























/* 
Breakpoints 
*/


@media only screen and (min-width: 320px) {


    hr {
        width: 90%;
        color: white
    }

    #logo {
        width: 100%;
        text-align: center;
    }

    #logo img {
        width: 60%;

    }

    .dyrene {
        width: 100%;
        text-align: center;
    }

    .dyrene img {
        width: 90%;
        border-radius: 10px;
        margin-top: 1em;
        border: 4px solid #f7f5f2;
    }

    .dyrene img:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }



    .dyrene h3 {
        text-align: center;
        color: white;
        font-family: 'open sans';
        margin-top: 6px;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 22px;

    }

    #desktopmenu {
        display: none;
    }

    .logo_område img {
        display: none;
    }

    @media only screen and (min-width: 768px) {

        .kontaktinfo {
            font-size: 15px;
        }

        h2 {
            font-size: 1.2em;
        }

        #clickmenu {
            font-size: 50px;
            padding: 0.3em;

        }

        #logo img {
            width: 30%;
        }

        .dyrene {
            display: none;
        }

        .ipadflex {
            display: block;
            width: 100%;
        }

        .kasse {
            width: 100%;
            display: flex;
        }


        .billede1 {
            width: 50%;
        }

        .billede1 img {
            width: 80%;
            margin: 10%;
            border-radius: 10px;
        }

        .billede1 img:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .billede2 {
            width: 50%;
        }

        .billede2 img {
            width: 80%;
            margin: 10%;
            border-radius: 10px;
        }

        .billede2 img:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);








        }

        @media only screen and (min-width: 1020px) {


            nav.left {
                display: block;

            }

            nav.right {
                display: block;
            }


            img.logo {
                display: block;
            }


            #clickmenu {
                display: none;
            }

            #headerlogo img {
                width: 20%;
            }


            #logo {
                display: none;
            }

            li a {
                color: white;
            }

            ul {
                text-align: center;
            }



            .desktopsetup {
                display: flex;
            }



            #flexkontakt {
                font-family: 'Open Sans';
            }

            #footerh2 {
                margin-left: 5px;
            }



            .footer-item,
            .footer-divider {
                display: unset;
            }

            .nav ul {
                display: block;
            }

            .burger-container,
            #bottom-nav {
                display: none;
            }



            #main-footer small {
                font-size: 0.625rem;
            }


            footer #flexikonmobile {
                display: none;

            }

            footer #flexikondesktop {
                display: flex;

            }

            #kontakt {
                display: none;
            }



            #desktopmenu {
                display: block;
                padding-top: 50px;
            }

            #desktopmenu ul {
                margin: 3px;
            }

            .logo_område img {
                display: block;
            }



            #overskrift {
                padding-top: 7%;
            }
        }
