/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* You start your css below */


h1 {
font-size: 1.8em;
font-family: 'Lato', sans-serif;
padding: 2%;
text-align: center;

}


/* LOG PÅ KNAP !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#logind button {
    background-color: #e2e4dd;
    color: #ed8633;
    font-weight: 700;
    padding: 1em 1.2em;
    margin: 0.em;
    border: none;
    cursor: pointer;
    width: 100%;
    float: right;
}

#logind button:hover {
    opacity: 0.8;
}

#logind #login {
    margin: 0;
    background-color: #ed8633;
    color: white;
    padding: 2%;
}

/* Center the image and position the close button */
#logind .imgcontainer {
    text-align: center;
    margin: 2em 0 1em 0;
    position: relative;
}


#logind .container {
    padding: 1.2em;
}

#logind #glemtadgangskode {
    padding: 1.2em;
    text-align: right;
}

#logind #glemtadgangskode a:any-link {
    color: #486040;
}

/* Full-width input fields */
#logind input[type=text],
#logind input[type=password] {
    width: 100%;
    padding: 1em 2em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* The Modal (background) */
#logind .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
#logind .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: none;
    width: 80%;
    max-width: 20em;
}


/* The Close Button (x) */
#logind .close {
    position: absolute;
    right: 1em;
    top: 0;
    color: #000;
    font-size: 3em;
    font-weight: bold;
}

#logind .close:hover,
#logind .close:focus {
    color: #b55039;
    cursor: pointer;
}


/* Add Zoom Animation */
#logind .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


#logind @-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

#logind @keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*LOG PÅ KNAP FÆRDIG !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    background-color: #e2e4dd;
}

.billed_sektion {
    background-image: url('../img/adorable-1850465_1280.jpg');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hovedindhold {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
      

   
}


.udstyrssektion {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fefefe;
    padding: 20px
}

.lejeoplysninger {
    background-color: #fefefe;
    width: 815px;
    padding: 25px;
    border: 1px solid lightgray;
    
}


.oplysninger {
    background-color: #fefefe;
    width: 815px;
    padding: 25px;
    border: 1px solid lightgray;
}

.flexsektion {
    width: 275px;
    margin: 25px;
}
