/* body background texture*/

body{
background-image: url("../images/natur-baggrund.png"); 
background-size: cover;  
}

#topbillede img {
    width: 100%;
    padding-bottom: 1em;
}


#lamainfo {
    background-color: rgb(247, 245, 242, 0.8);
border-radius: 10px;
    width: 90%;
    margin: 1em;
    padding-bottom: 0.5em;
}


#lamainfo p {
    font-family: 'open sans';
    font-size: 16px;
    margin: 2em;
padding: 0.2em;
    
}



h1 {
    color: black;
    font-family: 'Montserrat';
font-size: 30px;
text-align: center;
    padding-top: 0.5em;
}


/* knapperne */

.kasse1 {
    display: flex;
margin-left: 5%; 
}




.boks {
    background-color: rgb(247, 245, 242, 0.8);
    width: 60px;;
height: 60px;
    padding: 1em;
    margin: 1em;
border-radius: 10px;
    
}

 .boks:hover {
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }


.boks img {
    width: 100%;
}

.knapper {
    margin: 1em;
}

.logo_område {
    display: none;
}









/* Header navigation */
#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header {
  background-color: none;
}


.logo-container {
  padding: 0.5rem 0 1rem 1rem;
    
}
.logo-container img{
    width: 30%;
    height: 30%;
    margin-right: auto 0;
    margin-left: auto 0; 
}

#clickmenu {
    color: white;
font-size: 30px;
text-align: right;
position: absolute;
margin-left: 90%;
   
}





/* Burger menu */

.dropbtn img {
    width: 1.5em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(143,149,115);
  background-color: rgba(143,149,115, 0.9,1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #f6f5f1;
  display: block;
  transition: 0.3s;
font-family: 'Montserrat';
}


.overlay a:hover, .overlay a:focus {
  color: #f6f5f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0.1px;
  right: 1px;
  font-size: 50px;
}

#clickmobil {
color: #f6f5f1;

}




/*Dropdown menu - mobil */

.navbar {
  overflow: hidden;
  font-family: 'Montserrat';
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  align-content: center;
  overflow: hidden;
    font-family: 'Montserrat';
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 30px;
    font-family: 'Montserrat';
  border: none;
  outline: none;
  color: #f7f5f2;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
background-color: #B6A58B;
  width: 100%;
    margin-bottom: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #f7f5f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
    font-family: 'Montserrat';
font-size: 1.5em;
    line-height: 1.5em;
}

.dropdown-content {
    padding-bottom: 100%;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#bestilboks {
    background-color: #be7743;
    border-radius: 10px;
  margin-right: 11em;
margin-left: 11em;
}




/* Desktop navigation med logo i midten */


.inner_desktopmenu {
    margin: 0 auto;
    width: 1020px;
}

.inner_desktopmenu ul {
    margin: 0;
    padding 80px;
    list-style: none;
    text-align: right;
}

.inner_desktopmenu ul li{
    float: none;
    display: inline-block;
}

.inner_desktopmenu li:nth-child(1){
   float: left;
margin-left: 1em;
   
}
.inner_desktopmenu li:nth-child(2){
   float: left;
margin-left: 2em;
}
.inner_desktopmenu li:nth-child(3){
   float: left;
margin-left: 2em;
}


.inner_desktopmenu li:nth-child(4){
   margin-right: 3em;
top: -34px;
position: relative;

}

.inner_desktopmenu li:nth-child(5){
   margin-right: 2em;
}

.inner_desktopmenu li:nth-child(5) img{
   width: 40px;
    top: -34px;

position: relative;
 margin-right: 0.5em;
   
}

.inner_desktopmenu li:nth-child(6){
   margin-right: 2em;
top: -34px;
position: relative;

}

.inner_desktopmenu ul li a {
   color: white;
font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat';
    line-height: 3px;
display: block;
    padding: 1px;
    margin: 7px; 
}

.inner_desktopmenu ul li a:hover {
   color: #be7642;
}

#header_logo {
width: 100%;
position: relative; }

.logo_område {
width: 300px;
    height: 300px;
    position: absolute;
    left: 45%;
    top: 0;
    content: ""
margin-left: -150px;
    text-align: center;
    
}

.logo_område img {
width: 12em;
}

.head-section {
    margin-top: 7em;
}


    #desktopmenu{
        display: block;
    }
    
    .logo_område img{
        display: block;
    }  



/* Modal /*


/* The Modal (baggrund) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity 
*/
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0;
  width: 100%;
padding-bottom: 10%;
}

/* The Close Button */
.close {
  color: #be7743;
  float: right;
  font-size: 35px;
  font-weight: bold;
margin-right: 5%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#myBtn {

background: none;
border:none;
}


#myBtn1 {

background: none;
border:none;
}



/* Modal  slut*/




/* Modal fun fact /*


/* The Modal fun fact (baggrund) */
.modallama {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity 
*/
}


/* Modal Content */
.modal-content-lama {
  background-color: #fefefe;
  margin: 0;
  width: 100%;
padding-bottom: 10%;
}

/* The Close Button */
.close {
  color: #be7743;
  float: right;
  font-size: 35px;
  font-weight: bold;
margin-right: 5%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#myBtnlama {

background: none;
border:none;
}



/* Modal  slut*/




























/* Hover effekt på knapperne, så man kan se hvad symbolerne er/kan -> brugervenlighed

Inspiration fra We3school: Link: https://www.w3schools.com/howto/howto_css_image_overlay.asp
*/

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlaylama {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 7%;
  right: 0;
  height: 80%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: #be7743;
border-radius: 25px;
}

.container:hover .overlaylama {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




/* Hover effekt slut */












/* Footer */

/*Footer mobile*/

footer {
overflow: hidden;
background-color: rgba(247, 245, 242, 0.5); /* F7F5F2 med opacity */
    
}

h4 {
    font-family: 'Open Sans';
    font-size: 1.2em;
    padding: 2%;
    margin: 0%;
    margin-top: 5%;
} 

footer #flexikonmobile {
    display: flex;
    width: 100%;
    margin: 0;
}



footer .footer-left {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

footer .footer-left img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
        padding: 10px;

}


footer .footer-center {
     width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
       text-align: center;
}


footer .footer-center img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;
}



footer .footer-right {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    padding-top: 15px;
    padding-right: 10px;
       text-align: center;
}


footer .footer-right img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}


.kontaktinfo {
  font-size: 0.8em;
    line-height: 1.5em;
    font-family: 'Open Sans';
    padding: 2%;
    margin: 0%;
}


/*Footer mobile slut*/


/*footer desktop*/


footer #flexikondesktop {
    display: none;
    width: 100%;
    margin: 0;
}


footer #flexalt {
 display: flex;
    width: 100%;
    margin: 0;

}

.footer-centerdesktop{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
       text-align: center;

}

footer .footer-centerdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;
  
}

.footer-rightdesktop {
   width: 33.3%;
    flex-direction: inline;
    padding-left: 2%;
    padding-top: 2%;
       text-align: center;
 
}


footer .footer-rightdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
        padding: 10px;
    text-align: right;
    margin-left: 15%;

}


footer #flexkontakt {
    width: 33.3%;
    margin: 0;
    padding-left: 2%;
    font-family: 'Open Sans';
    margin-bottom: 2%;
    
}




/* Breakpoints */


@media only screen and (min-width: 320px) {
    
    #desktopmenu{
        display: none;
    }
    
    .logo_område img{
        display: none;
    }    


 @media only screen and (min-width: 480px) {
    
  
.boks {
    width: 85px;
height: 70px;
   
}
     
     #lamainfo {
         margin-left: 1.5em;
     }
     
    .overlaylama {
    width: 95%;
    height: 80%;
    left: 8%;
     }


     .kasse1 {
    margin-left: 10%;
     }  
     
     
     
     
    }
    
@media only screen and (min-width: 768px) {
    
    .kontaktinfo {
    font-size: 1.em;
    }
    

       #clickmenu {
font-size: 50px;
padding: 0.3em;   
   
}

    #ipadflex {
        display: flex;
        width: 100%;
    }

 
    
    .kasse1 {
 margin-left: auto;
        margin-right: auto;
    }



.boks {
    width: 118px;
height: 118px;
   
}
    
#topbillede img {
    width: 100%;
    padding-bottom: 1em;
}
    
    #lamainfo {
        margin-left: auto;
        margin-right: auto;
    }
    
    
 .overlaylama {
    width: 85%;
    height: 85%;
    
     }
    

}

@media only screen and (min-width: 1020px) {

    #lamainfo {
      margin-left: 50em;
    }    
    
    
    
#clickmenu {
display: none;   
}
 
    #headerlogo img {
        width: 20%;
    }
    
    #topbillede {
        display: none;
    } 
    
    body {
        background-image: url(../images/Lamabillede.jpg);
        background-size: cover;  

    }
    
    #lamainfo {
        width: 40%;
       margin-left: 2em;
        margin-top: 6em;
        margin-bottom: 15%;
    }
    
    .boks {
        width: 70px;
height: 70px;
    }
    
    
     #ipadflex {
        display: flex;
       
    }
    
    .knapper {
        display: flex;
    }


  

    .kasse1 {
        display: block;
    }
   

    
    
    
/* desktop menu bar */
    
    .logo_område {
    display: block;
}

    
    #logo {
        display: none;
    }
    
    li a {
        color: white;  
    }
    
    ul {
        text-align: center;
    }
    
   
    .desktopsetup {
        display: flex;
    }
    
    
    
    
    

    #flexkontakt {
        font-family: 'Open Sans';
    }
    
    #footerh2 {
        margin-left: 5px;
    }
    
  
    
    .footer-item,
  .footer-divider {
    display: unset;
  }
  .nav ul {
    display: block;
  }
  .burger-container,
  #bottom-nav {
    display: none;
  }
  .desktop-nav-container {
    display: unset;
  }

  #main-footer small {
    font-size: 0.625rem;
  }
    
    
  footer #flexikonmobile {
   display: none;
    
}
    
    footer #flexikondesktop {
    display: flex;
        
    }
    
    #kontakt{
    display: none;
    }  
    
    
    
        #desktopmenu{
        display: block;
            padding-top: 50px;
    }
    
            #desktopmenu ul{
       margin: 3px;
    }
    
    .logo_område img{
        display: block;
    }  
    
    #topnavigation {
        background-color: rgba(143, 149, 115, 0.9);
    }
    
    
    
 .overlaylama {
    width: 100%;
    height: 100%;
    
     }
    
    
.container {
margin-bottom: 30%;
    
    }
    
}
    
@media only screen and (min-width: 1500px) {
    
     
        .inner_desktopmenu li:nth-child(1){
   float: left;
margin-left: 1em;
   
}
    }