/* body background texture*/

body {
    background-image: url("../images/paper_texture3.png");
    background-color: #cccccc;
    background-size: repeat;

}

/* generelt */

h4 {
    font-size: 1.0em;
    color: black;
    line-height: 1.2em;
    padding-top: 2%;
    font-family: montserrat;
    padding: 2%;
    margin: 0%;

}



/* head section*/
.head-sectionmobile {
    padding: 2%;
}

.head-sectionmobile h1 {
    text-align: center;
    margin: 10 10 10 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    color: #f7f5f2;

}


.top-contentmobile {
    display: block;
}

.top-contentmobile p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    line-height: 2.5;
    padding-left: 10%;
    padding-right: 10%;
}

.top-content img {
    max-width: 80%;
    height: auto;
    position: relative;
}



#horizontal_line {
    justify-self: center;
    color: #f7f5f2;
    width: 80%;

}



/* 
ipad content
*/

.top-content-ipad {
    display: block;
}

.top-content-ipad p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 2.5;
    padding-left: 2%;
    padding-right: 2%;
}

.top-content-ipad img {
    max-width: 80%;
    height: auto;
    position: relative;
}







/* billeder af personale - mobile style  */

#munkholmbillede {
    width: 100%;
    text-align: center;
}


#munkholmbillede img {

    width: 80%;
    border-radius: 10px;
    margin-top: 1em;
    border: 4px solid #f7f5f2;
}

#munkholmbillede p {
    width: 80%;
    text-align: center;
}

#munkholmbillede h3 {
    font-family: 'Montserrat';
    color: #f7f5f2;
    font-size: 1.2em;
}




#munkholm_logo {
    width: 100%;
    text-align: center;
}

#munkholm_logo img {
    width: 80%;
    border-radius: 10px;
    margin-top: 1em;
    border: 4px solid #f7f5f2;
}

#munkholm_logo p {
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#munkholm_logo h3 {
    font-family: 'Montserrat';
    color: #f7f5f2;
    font-size: 1.2em;
}


#lars {
    width: 100%;
    text-align: center;
}

#lars img {
    width: 80%;
    border-radius: 10px;
    margin-top: 1em;
    border: 4px solid #f7f5f2;
}

#lars h3 {
    font-family: 'Montserrat';
    color: #f7f5f2;
    font-size: 1.2em;
}


#lars p {
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}



#milo {
    width: 100%;
    text-align: center;
}

#milo img {
    width: 80%;
    border-radius: 10px;
    margin-top: 1em;
    border: 4px solid #f7f5f2;

}

#milo h3 {
    font-family: 'Montserrat';
    color: #f7f5f2;
    font-size: 1.2em;
}


#milo p {
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


#pernille {
    width: 100%;
    text-align: center;
}

#pernille img {
    width: 80%;
    border-radius: 10px;
    margin-top: 1em;
    border: 4px solid #f7f5f2;
}

#pernille h3 {
    font-family: 'Montserrat';
    color: #f7f5f2;
    font-size: 1.2em;
}


#pernille p {
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}







/*footer mobile*/

footer {
    overflow: hidden;
    background-color: rgba(247, 245, 242, 0.5);
    /* F7F5F2 with opacity */

}

footer #flexikonmobile {
    display: flex;
    width: 100%;
    margin: 0;
}

footer .footer-left {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

footer .footer-left img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}


footer .footer-center {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}


footer .footer-center img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;
}



footer .footer-right {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    padding-top: 15px;
    padding-right: 10px;
    text-align: center;
}


footer .footer-right img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}


.kontaktinfo {
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: montserrat;
    padding: 2%;
    margin: 0%;
}


/*footer desktop*/


footer #flexikondesktop {
    display: none;
    width: 100%;
    margin: 0;
}


footer #flexalt {
    display: flex;
    width: 100%;
    margin: 0;

}

.footer-centerdesktop {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 2%;
    text-align: center;

}

footer .footer-centerdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}

.footer-rightdesktop {
    width: 33.3%;
    flex-direction: inline;
    padding-left: 2%;
    padding-top: 2%;
    text-align: center;

}


footer .footer-rightdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;
    text-align: right;

}


footer #flexkontakt {
    width: 33.3%;
    margin: 0;
    padding-left: 2%;
    padding-top: 2%;
}


/* Breakpoints */




@media only screen and (min-width: 320px) {



    .top-content-ipad {
        display: none;
    }

    top-content-desktop {}

    .info-tekst p {
        width: 70%;
        margin: auto;
        text-align: center;

    }



    #tape1 {
        display: none;

    }



    #tape2 {
        display: none;

    }




}




@media only screen and (min-width: 768px) {

    .kontaktinfo {
        font-size: 1.em;
    }

    h4 {
        font-size: 1.2em;
    }

    .top-contentmobile {
        display: none;
    }

    .top-content-ipad {
        display: block;
    }

    .info-tekst p {
        font-family: 'Open Sans', sans-serif;
        width: 70%;
        margin: auto;
        text-align: center;
        font-size: 0.8em;
    }



    .container {
        display: flex;
        margin-top: 2%;
        align-content: space-between;
    }

    .container p {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 0.8em;
    }


    #munkholmbillede-ipad img {
        display: block;
        position: relative;
        max-width: 50%;
        height: auto;
    }

    #munkholmbillede-ipad {
        margin-left: 1%;
        margin-right: 1%;
    }


    #munkholm_logo-ipad img {
        display: block;
        position: relative;
        max-width: 50%;
        height: auto;

        margin-right: auto;
    }

    #munkholm_logo-ipad {
        margin-left: 1%;
        margin-right: 1%;
    }

    #lars-ipad {
        display: flex;
        margin: 2%;
    }

    #lars-ipad video {
        position: relative;
        margin-left: auto;
        border: 20px solid #f7f5f2;
        border-radius: 5px;
        max-width: 30%;
        border-bottom: 80px solid #f7f5f2;

    }

    #lars-ipad p {
        width: 30%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 0.8em;


    }

    #milo-ipad {
        display: flex;
        margin: 2%;
    }

    #milo-ipad video {
        position: relative;
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
        border: 20px solid #f7f5f2;
        border-radius: 5px;
        border-bottom: 80px solid #f7f5f2;
    }

    #milo-ipad p {
        width: 30%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 0.8em;
    }

    #pernille-ipad {
        display: flex;
    }

    #pernille-ipad img {
        display: block;
        position: relative;
        max-width: 50%;
        margin-left: 2%;

        height: auto;
    }

    #munkholmbillede-ipad p {
        width: 80%;
        text-align: right;
    }

    #pernille-ipad p {
        width: 20%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;

    }



    /* tape styling - ipad */




    #tape1 {
        display: block;
        position: absolute;
        text-align: start;
        opacity: 0.9;
        z-index: 10;
        width: 35%;
        margin-top: auto;

    }




    #tape2 {
        display: block;
        position: absolute;
        text-align: end;
        margin-left: 60%;
        max-width: 100%;
        height: auto;
        opacity: 0.9;
        z-index: 10;
        width: 35%;
        margin-top: auto;
    }


    /* Dyre poter styling - ipad */

    #ulve_poter img {
        display: block;
        position: absolute;
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #fugle_aftryk img {
        display: block;
        position: absolute;
        text-align: end;
        right: auto;

        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


    #klov_aftryk {
        display: block;
        position: absolute;
        text-align: end;
        right: auto;

        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    #hunde_poter{
        display: block;
        position: absolute;
        text-align: end;
        right: auto;

        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


    @media only screen and (min-width: 1020px) {

        .top-contentmobile {
            display: none;
        }

        .top-content-ipad {
            display: block;
        }

        .container {
            display: flex;
            margin-top: 2%;
        }


        container p {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 0.8em;

        }

        /* tape styling - desktop */


        #tape1 {
            display: block;
            position: absolute;
            text-align: end;
            z-index: 10;
        }




        #tape2 {
            position: absolute;
            float: right;
            margin-left: 60%;
            max-width: 100%;
            height: auto;
            z-index: 10;
        }














        #munkholmbillede-ipad img {
            display: block;
            position: relative;
            width: 50%;
            height: auto;
        }


        #munkholm_logo-ipad img {
            display: block;
            position: relative;
            width: 100%;
            height: auto;

        }

        #lars-ipad {
            display: flex;
            margin: 2%;
        }

        #lars-ipad p {
            position: relative;
            margin-top: 3%;
            margin-left: 8%;
            font-size: 0.8em;
        }

        #lars-ipad video {
            position: relative;
            margin-left: auto;
            border: 20px solid #f7f5f2;
            border-radius: 5px;
            max-width: 30%;
            border-bottom: 80px solid #f7f5f2;
        }


        #milo-ipad {
            display: flex;
            margin: 2%;
        }

        #milo-ipad p {
            position: relative;
            margin-top: 8%;
            font-size: 0.8em;

        }


        #milo-ipad video {
            position: relative;
            max-width: 30%;
            margin-right: auto;
            border: 20px solid #f7f5f2;
            border-radius: 5px;
            border-bottom: 80px solid #f7f5f2;
            z-index: 0;
            right: auto;
        }

        #pernille-ipad img {
            display: block;
            position: relative;
            max-width: 80%;
            margin-left: 2%;
        }

        #pernille-ipad p {
            width: 30%;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8em;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
        }



    }
