
/* body background texture*/

body {
    background-image: url("../images/paper_texture3.png");
    
    background-color: #cccccc;
    background-size: cover;

}


h3{
 font-size: 1.5em;
    color: black;
    line-height: 1.2em;
    padding-top: 2%;
    font-family: montserrat;
    padding: 2%;
margin: 0%;
}




/*footer*/

footer {
    overflow: hidden;
}

footer #flexikon {
    display: flex;
    width: 100%;
    margin: 0;
}

footer .footer-left {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
}

footer .footer-left img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
}


footer .footer-center {
     width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
}


footer .footer-center img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
}



footer .footer-right {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    padding-top: 15px;
    padding-right: 10px;
}


footer .footer-right img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
}


.kontaktinfo {
  font-size: 1.0em;
    line-height: 1.5em;
    font-family: montserrat;
    padding: 2%;
    margin: 0%;
}

