body {
    font-family: 'Lato', sans-serif;
    background-color: #e2e4dd;
}

/*header*/




.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5px;
    font-family:  'Lato', sans-serif;
    font-size: 0.9rem;
     background-color: #e2e4dd;
}

html {
    font-size: 100%;
}


h1 {
font-size: 1.0em;
font-family: 'Lato', sans-serif;
padding: 2%;

}


h3 {
    font-size: 1.5em;
    text-align: center;
    color: black;
    line-height: 1.2;
    padding-top: 2%;
    font-family: mostra-nuova, sans-serif;
}


h4 {
    font-size: 1.8em;
    color: #ffffff;
    line-height: 1.2;
    margin: 2%;
    font-family: mostra-nuova, sans-serif, bold;
}


/* LOG PÅ KNAP !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#logind button {
    background-color: #e2e4dd;
    color: #ed8633;
    font-weight: 700;
    padding: 1em 1.2em;
    border: none;
    cursor: pointer;
    width: 100%;
    float: right;
}

#logind button:hover {
    opacity: 0.8;
}

#logind #login {
    margin: 0;
    background-color: #ed8633;
    color: white;
    padding: 2%;
}

/* Center the image and position the close button */
#logind .imgcontainer {
    text-align: center;
    margin: 2em 0 1em 0;
    position: relative;
}


#logind .container {
    padding: 1.2em;
}

#logind #glemtadgangskode {
    padding: 1.2em;
    text-align: right;
}

#logind #glemtadgangskode a:any-link {
    color: #486040;
}

/* Full-width input fields */
#logind input[type=text],
#logind input[type=password] {
    width: 100%;
    padding: 1em 2em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* The Modal (background) */
#logind .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
#logind .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: none;
    width: 80%;
    max-width: 20em;
}


/* The Close Button (x) */
#logind .close {
    position: absolute;
    right: 1em;
    top: 0;
    color: #000;
    font-size: 3em;
    font-weight: bold;
}

#logind .close:hover,
#logind .close:focus {
    color: #b55039;
    cursor: pointer;
}


/* Add Zoom Animation */
#logind .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


#logind @-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

#logind @keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*LOG PÅ KNAP FÆRDIG !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */




/* Main */


.login {
    margin-right: 5px;
}


.billed_sektion {
    background-image: url('../img/car-1835506_1920.jpg');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formular {
    position: relative;
    top: 100px;
    width: 450px;
    height: 245px;
    background-color: #e2e4dd;
    padding: 15px;
    margin-left: 15px;
}

.formular_overskrift {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    padding: 2%;
    
}

.formular_felter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#afhentning,
#aflevering,
#personer {
    width: 9.5rem;
    text-align: right;
    padding: 5px;
}

#kufferter {
    width: 9.5rem;
    padding: 5px;
}

.etiket {
    margin: 15px 0 5px;
    display: block;
}

.formular_knap {
    text-align: center;
    margin-top: 25px;
}

.knap {
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 40px;
    background-color: #ed8633

}

.bil_sektion {
    padding: 10px 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.bil {
    border: 1px solid black;
    padding: 15px;
    margin: 15px 0;
}


* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
padding: 2%;
}

.flex-item-left {
background-image: url('../img/suzukiny1.png');
height: 300px;
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
border-radius: 5px;
}

.flex-item-right {

  padding: 10px;
  flex: 50%;
border-radius: 5px;
}

.flex-item-center {
  padding: 10px;
  flex: 50%;
    border-radius: 5px;
margin: 2%;
}


.biltekst {
font-family:  'Lato', sans-serif;
font-size: 0.6em;
line-height: 1.6;

}

.pris {
 font-family:  'Lato', sans-serif;
font-size: 0.7em;
line-height: 1.6;
padding-top: 5em;
    
}



button.omos.btn {
    padding: 10px 12px;
    font-size: 12px;
    background-color: #ed8633;
    border-radius: 5px;
 
}



/* Footer
-----------------------------------------------------------------------------*/

footer {
    overflow: hidden;
     height: auto;
    background-color: darkgray;
}



.kontaktinfo {
  font-size: 1.5em;
    line-height: 1.5em;
    font-family: mostra-nuova, sans-serif;
    padding: 2%;
    text-align: center;
    color: #ffffff;
    margin: 0%;
}


/* Nyhedsbrev Footer
-----------------------------------------------------------------------------*/

.nyhedsbrevcontainer {
    padding: 20px;
    background-color: #fefefe;
    text-align: center;
}

p.nyhedsbrev {
text-align: center;
}

input[type=text],
input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px; 
}


input[type=submit] {
    background-color: #e2e4dd;
    border: none;
    border-radius: 10px;

}

input[type=submit]:hover {
    opacity: 0.8;
}

/* Nyhedsbrev Footer slut
-----------------------------------------------------------------------------*/


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}









@media only screen and (max-width: 410px) {
    .billed_sektion {
        height: 475px;
    }
    
    .formular {
        width: 310px;
        margin-left: 0;
        height: 375px;
    }
    
}








