* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*  Glas moprh cards */

.bottom_content {
    display: block;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background: #8f9472;

}



.bottom_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}



.bottom_container .cards {
    position: relative;
    flex-direction: row;
    width: 70%;
    height: 5%;
    margin: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.bottom_container .cards .card_content {
    padding: 10px;
    text-align: center;
    opacity: 1;
    transition: 0.3s;

}

.bottom_container .cards:hover .card_content {
    transform: scale(1.2);
}




.bottom_container .cards .card_content h4 {
    font-size: 1.5em;
    color: #f7f5f2;
    z-index: 1;
}

.bottom_container .cards .card_content h4 img {
    height: auto;
    max-width: 80%;
    padding: 5px;

}




.bottom_container .cards .card_content a {
    position: relative;
    display: inline-block;
    padding: 30px 20px;
    margin-top: 15px;
    font-size: 1.8em;
    font-family: 'Montserrat';
    color: #be7642;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}

.card_content {
    display: flex;

}



/*  background texture*/

body{
    background-image: url("../images/paper_texture3.png");
    background-color: #cccccc;
    background-size: cover;
}


/* body background texture end*/







/* head section*/
.head-section {
    padding: 2%;
}

.head-section h1 {
    text-align: center;
    margin: 10 10 10 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0em;
    color: #f7f5f2;

}

hr {
    text-align: center;
    color: #f7f5f2;
    width: 90%;
    margin: 5%;
    

}

/* top-content */

.top-content {
    display: block;
    text-align: center;
    justify-content: center;
    padding-left: 2%
}

.top-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2;
    padding-left: 5%;
    padding-right: 5%;
}

.top-content img {
    max-width: 80%;
    height: auto;
    position: relative;
}

/*bottom-content */

.bottom_content {
    background-image: url(../images/natur-baggrund.png);
    background-color: #cccccc;
    background-size: cover;

}




/* Header navigation */
#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo-container {
    

}

.logo-container img {
    width: 30%;
    height: 30%;
    margin-right: auto 0;
    margin-left: auto 0;
}

/* Burger menu */

.burger-container {
    padding: 1rem;
}

.burger {
    width: 2.5rem;
}

.burger-item {
    height: 0.25rem;
    background-color: black;
}

.burger-item:nth-child(2) {
    background-color: black;
}

.burger-item:nth-child(1),
.burger-item:nth-child(2) {
    margin-bottom: 0.5rem;
}



/* Main section */
.head-section {
    align-items: center;
}

#velkommen h1 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 500;
}





/* Mobile navigation */



/* Desktop navigation */

.desktop-nav-container {
    display: none;
}

.desktop-nav-container ul {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.desktop-nav-container ul li {
    display: inline;
}

.desktop-nav-container ul li :last-child {
    padding: 0 0.5rem 0 0;
}

/* 
Breakpoints 
*/

@media only screen and (min-width: 1000px) {

    .footer-item,
    .footer-divider {
        display: unset;
    }

    .nav ul {
        display: block;
    }

    .burger-container,
    #bottom-nav {
        display: none;
    }

    .desktop-nav-container {
        display: unset;
    }

    #main-footer small {
        font-size: 0.625rem;
    }
}



@media only screen and (min-width: 320px) {
    
hr { 
width: 90%;
color: white
}
    
