/* body baggrund billede*/

body {
    background-image: url("../images/paper_texture3.webp");
    background-color: #cccccc;
    background-size: cover;
}


/* body baggrund billede slut*/


/* headerdesktop */
*{
    margin: 0;
    padding: 0;
}
                                         
nav{
    width: 100%;
    height: 130px;
    background-color: #8f9472;
}
    nav ul{
        padding-top: 30px;
    }
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-size: 20px;
    font-family: 'Montserrat';
    color: #fff;
    padding: 20px 10px;
    text-decoration: none;

}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #8f9472;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;

}
nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 250px;
    border-radius: 4px;
        z-index: 100;

}

nav ul li ul li a:hover {
    background-color: #b6a58b;
}


nav ul li ul li a {
    padding: 12px 20px;
    text-align: center;
    z-index: 100;

}

.logo{
    width: 170px;
    position: absolute;
    left: 45%;
        z-index: 100;

}

header{
    display: flex;
    background-color: #8f9472;
    position: relative;
}
    
    .right ul{
        float: right;
        padding-right: 10%;
        
    }
    .left ul{
        padding-left: 5%;
    }


        nav.left {
    display: none;
        
    }
    
    nav.right{
    display: none;
    }
    
    
    img.logo{
    display: none;
    }  

#bestilknap-desktop {
border-color: #be7642;
background-color: #8f9472; 
border-radius: 10px;
width: 130px;
height: 50px;
border-style: double;

}


#bestilknap-desktop a {
font-size: 20px;
padding: 1px;

    
}


#bestilknap-desktop:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

/* headerdesktop slut */


/* Burger menu */

.dropbtn img {
    width: 1.5em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(143,149,115);
  background-color: rgba(143,149,115, 0.9,1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #f6f5f1;
  display: block;
  transition: 0.3s;
font-family: 'Montserrat';
}


.overlay a:hover, .overlay a:focus {
  color: #f6f5f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0.1px;
  right: 1px;
  font-size: 50px;
}

#clickmobil {
color: #f6f5f1;
}

#clickmenu {
    color: white;
font-size: 30px;
padding: 0.3em; 
position: absolute;
margin-left: 90%;
   
}




/*Dropdown menu - mobil */

.navbar {
  overflow: hidden;
  font-family: 'Montserrat';
}

/* Links inde i navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* dropdown container */
.dropdown {
  align-content: center;
  overflow: hidden;
    font-family: 'Montserrat';
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 30px;
    font-family: 'Montserrat';
  border: none;
  outline: none;
  color: #f7f5f2;
  padding: 14px 16px;
  background-color: inherit;
}

/* baggrund til navbar links med hover */
.navbar a:hover, .dropdown:hover .dropbtn {
}

/* Dropdown indhold */
.dropdown-content {
  display: none;
  position: absolute;
background-color: #B6A58B;
  width: 100%;
    margin-bottom: 100%;
  z-index: 1;
}

/* Links inde i dropdown */
.dropdown-content a {
  float: none;
  color: #f7f5f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
    font-family: 'Montserrat';
font-size: 1.5em;
    line-height: 1.5em;
}

.dropdown-content {
    padding-bottom: 100%;
}

/* baggrund til dropdown links med hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* vis dropdown menu med hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#bestilboks {
    background-color: #be7743;
    border-radius: 10px;
  margin-right: 11em;
margin-left: 11em;
border-style: double;

}

/* mobil -header slut*/







/* hoved section*/
.hoved-mobile {
    padding-top: 10%;
    align-items: center;

}

.hoved-mobile h1 {
    text-align: center;
    margin: 0;
    font-family: 'Ubuntu regular', sans-serif;
    font-size: 35px;
    color: #f7f5f2;

}

hr {
    text-align: center;
    color: #f7f5f2;
    width: 90%;
    margin: 5%;

}

/* hoved section slut*/






/* Velkommen tekst mobile */


#velkommen-mobile h1 {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 500;
    margin-top: 20%;
}


.velkommentekst-mobile {
    display: block;


}

.velkommentekst-mobile p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 5%;
}

.velkommentekst-mobile img {
    max-width: 60%;
    height: auto;
    position: relative;
    padding-left: 5%;
    margin-bottom: 10%;


}


/* velkommen tekst mobile slut */




/*dyre bokse mobile */

.dyrebokse-mobile {
    background-image: url(../images/natur-baggrund.webp);
    background-color: #cccccc;
    background-size: cover;
    display: block;


}



#flexbokse-mobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding: 5%;

}



#sedyr-mobile {
    width: 90%;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 20%;


}



div#sedyr-mobile:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}

#fleximg-mobile {
    width: 50%;


}

#fleximg1-mobile {
    width: 50%;


}


#flextekst-mobile {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    width: 50%;
    color: #BE7642;

}

#flexbokse-mobile a{
text-decoration: none;
}



#fleximg-mobile img {
    width: 60%;

}

#fleximg1-mobile img {
    width: 70%;

}



#nyheder-mobile {
    width: 90%;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 20%;

}


div#nyheder-mobile:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}



#kort-mobile {
    width: 90%;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 20%;
}



div#kort-mobile:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}

#dyrepasser-mobile {
    width: 90%;
    display: flex;
    text-align: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 20%;

}


div#dyrepasser-mobile:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}



#herliggervi-mobile {
    width: 90%;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 20%;
    margin-bottom: 20%;
}


div#herliggervi-mobile:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}




/*dyre bokse mobile slut */


/*dyre bokse ipad  */

.dyrebokse-ipad-container {
    display: none;
    padding-bottom: 10%;
    align-content: space-between;
    background-image: url(../images/natur-baggrund.webp);
    background-color: #cccccc;
    background-size: cover;

}



.dyrebokse-ipad-container div {
    width: 100px;
}


#flexipadboks2 {
    display: flex;
    width: 100%;

}


#flexipadboks1 {
    display: flex;
    width: 100%;
    text-align: center;
}


#fleximg-ipad img {
    width: 70%;
    text-align: center;


}




#fleximg-ipad {
    width: 100%;
    text-align: center;

}



#flextekst-ipad {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #BE7642;
    width: 100%;
    text-align: center;
    margin-top: 20%;

}




#nyheder-ipad {
    width: 30%;
    height: 400px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;
    margin: 5%;
}





div#nyheder-ipad:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}


#kort-ipad {
    width: 30%;
    height: 400px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;
    margin: 5%;
}

div#kort-ipad:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}


#dyrepasser-ipad {
    width: 30%;
    height: 400px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;
    margin: 5%;

}


div#dyrepasser-ipad:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}



#herliggervi-ipad {
    width: 30%;
    height: 400px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;
    margin: 5%;

}


div#herliggervi-ipad:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}

/*dyre bokse ipad slut */









/* Velkommen tekst desktop  */

#velkommentekst-desktop h1 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    margin-top: 20%;
    color: white;
    padding-left: 10%;


}





#velkommentekst-desktop p {
    line-height: 1.5;
    text-align: left;
    font-family: 'Open Sans';
    padding-left: 10%;
    margin-left: 2%;
    margin-top: 5%;
}

#velkommentekst-desktop img {

    max-width: 60%;
    height: auto;
    position: relative;
    margin-bottom: 10%;
    margin-right: 15%;

}


#velkommentekst-desktop {
    width: 50%;

}



/* Velkommen tekst desktop slut */





/*dyre bokse desktop */


#desktopforside {
    width: 100%;
    display: none;
    text-align: center;
}


#desktopimg {
    width: 100%;
}


button#bestil-desktop:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}


#desktopimg img {
    width: 85%;
    text-align: center;
    margin-top: 30%;
}


#button-desktop {
    width: 100%;
    margin-top: 15%;
    text-align: center;

}

div#button-desktop a{
 color: white;

}


#button-desktop button {
    height: 60px;
    width: 200px;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Open Sans';
    background-image: url("../images/paper_texture3.webp");
    background-color: #cccccc;
    color: #be7642;
    border: 5px solid;



}



#flex2billeder {
    display: table-column;
    width: 50%;
}





.dyrebokse-desktop-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    background-image: url(../images/natur-baggrund.webp);
    background-color: #cccccc;
    background-size: cover;

}





.dyrebokse-desktop-container div {
    width: 100px;




}


#fleximg-desktop img {
    width: 100px;
    text-align: center;
    margin-left: 2%;


}

#fleximg1-desktop img {
    width: 100%;
    text-align: center;


}



#flextekst-desktop {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #BE7642;
    width: 100%;

}



#fleximg-desktop img {
    width: 100%;
    text-align: center;

}

#fleximg1-desktop img {
    width: 100%;
    text-align: center;

}



#nyheder-desktop {
    width: 104px;
    height: 300px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;

}


div#nyheder-desktop:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);
}

#kort-desktop {
    width: 104px;
    height: 300px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;

}


div#kort-desktop:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);

}


#dyrepasser-desktop {
    width: 104px;
    height: 300px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;

}


div#dyrepasser-desktop:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);

}


#herliggervi-desktop {
    width: 104px;
    height: 300px;
    display: table-column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #d2d5b6;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 10%;

}

div#herliggervi-desktop:hover {
    background: -webkit-linear-gradient(#d2d5b6, #be7642);

}



/*dyre bokse desktop slut */








/* velkommen video ipad og desktop */

.container video {
    display: none;
    position: relative;
    width: 100%;
    z-index: 0;
}

/* velkommen video ipad og desktop slut */







/* Footer */


/*footer mobile*/

footer {
    overflow: hidden;
    background-color: rgba(247, 245, 242, 0.5);
    /* F7F5F2 med opacity */


}

#footerh4 {
    font-family: 'Montserrat';
font-size: 1em;
    text-align: left;
padding: 0.5em;
}


footer #flexikonmobile {
    display: flex;
    width: 100%;
    margin: 0;
}

footer .footer-left {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

footer .footer-left img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}


footer .footer-center {
    width: 33.5%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}


footer .footer-center img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;
}



footer .footer-right {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    padding-top: 15px;
    padding-right: 10px;
    text-align: center;
}


footer .footer-right img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}


.kontaktinfo {
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: 'Open Sans';
    padding: 2%;
    margin: 0%;
}

/*footer mobile slut*/


/*footer desktop*/


footer #flexikondesktop {
    display: none;
    width: 100%;
    margin: 0;
}


footer #flexalt {
    display: flex;
    width: 100%;
    margin: 0;

}

.footer-centerdesktop {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    text-align: center;

}

footer .footer-centerdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    padding: 10px;

}

.footer-rightdesktop {
    width: 33.3%;
    padding-left: 2%;
    padding-top: 2%;
    text-align: center;

}


footer .footer-rightdesktop img {
    width: 40px;
    max-height: 40px;
    margin-top: 5px;
    text-align: right;
    margin-left: 15%;

}


footer #flexkontakt {
    width: 33.3%;
    margin: 0;
    padding-left: 2%;
    font-family: 'Open Sans';
    margin-bottom: 2%;
}


h4 {
    font-family: 'Open Sans';
    font-size: 1.2em;
    padding: 2%;
    margin: 0%;
    margin-top: 5%;
}


/*footer desktop slut*/





/*media queries*/




@media only screen and (min-width: 320px) {

    
}



@media only screen and (min-width: 768px) {

    .kontaktinfo {
        font-size: 15px;
    }

    h4 {
        font-size: 1.2em;
    }

    #mobileforside {
        display: none;
    }




    #desktopbottom {
        display: block;
    }



    .container video {
        display: block;
    }



    #desktopforside {
        display: inline-flex;

    }

    .dyrebokse-ipad-container {
        display: block;
        width: 100%;
    }


    #velkommentekst-desktop h1 {
        font-size: 24px;
        line-height: 1.5em;

    }
    
    
    .dyrebokse-desktop-container {
    display: none;
    }
}








@media only screen and (min-width: 1020px) {
    
    
    
    nav.left {
    display: block;
        
    }
    
    nav.right{
    display: block;
    }
    
    
    img.logo{
    display: block;
    }  
    
    #clickmenu {
display: none;   
}
 
    #headerlogo img {
        width: 20%;
    }

    footer #flexikonmobile {
        display: none;

    }

    footer #flexikondesktop {
        display: flex;

    }

    #kontakt {
        display: none;
    }

    #velkommentekst-desktop h1 {
        font-size: 35px;



    }

    .dyrebokse-desktop-container div {
        margin: 25px;
    }


    .dyrebokse-desktop-container {
        display: flex;
        padding-bottom: 10%;
    }


    .dyrebokse-ipad-container {
        display: none;

    }



    #button-desktop {
        margin: 5%;

    }
}



/*media queries slut*/
