Header{
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: rgba(143,149,115, 0.9);
    position: relative;
    height: 130px;
    white-space: nowrap;
}

ul{
    display: flex;
    padding: 10px;
}
il{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.submenu {
    display: none;
   background-color: rgba(143,149,115, 0.9);
    border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
height: auto;
}

.submenu li a{
    color: orange;
font-size: 1em;
    
}


.menu-item:hover .submenu {
    display: block;
}

.menu-item a {
    font-size: 20px;
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
    padding: 25px;
}


.headerlogo {
    height:  15px;
    margin-top: 15px;
    right: 40px;
}


.headerlogo img{
    width: 70%;
}

.submenu{
    position: fixed;    
    margin-top: 50px;
}


.left {text-align: left;}
.right { float right;}
